<h1>About the Blueprint Sports</h1>

<p>The Blueprint Sports is sports to the max.  We strive to give analysis, analytics, statistics, and opinions at the highest level about everything sports.  
	We love our day, we love our goals, and we love talking and debating everything sports.  Join the BPS nation today, and be a part of sports debate.</p>
