<h1>Contact us</h1>
<p>If you have a question about BPS, contact us.  If you wanna debate BPS, contact us.  If you want to point out an error BPS has made, contact us! 
	If you're having trouble using any part of Blueprint Sports, please contact us!  Send us a tweet or a direct message(DM)at @Blueprint_Sport
	to get the fastest response from us. </p>
