<h1>The Blueprint Sports help page</h1>
<p>FAQ</p>

<p>I can't access my favorite sports articles from BPS, I need this travesty fixed now. What do I do?</p>
<p>Contact us at our twitter account @Blueprint_Sport for the fastest response.  Take a screenshot of the problem if you can, and send it to us.  Send us a direct message with the problem, and we'll get back to you asap.</p>
